body {
  font-family: Arial;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: rgb(23, 164, 23);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.add-todo-button:hover {
  background-color: rgb(15, 156, 11);
  color: rgb(255, 255, 255);
}

.add-todo-button:active {
  opacity: 0.7;
}

.delete-todo-button {
  background-color: rgb(139, 0, 0);
  color: rgb(229, 226, 226);
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.delete-todo-button:hover {
  background-color: rgb(143, 12, 12);
  color: rgb(255, 255, 255);
}

.delete-todo-button:active {
  opacity: 0.7;
}
